In [8]:
import pandas as pd
import numpy as np

In [53]:
data = pd.read_csv('input.txt',names=['depth'])
data['increased'] = np.nan
data.head()

  neighbour_mapepth  increased
0    199        NaN
1    203        NaN
2    200        NaN
3    201        NaN
4    196        NaN

In [ ]:
data = pd.read_csv('input2.txt', sep=' ', names=['direction','units'])

In [68]:
data = pd.read_csv('input2.txt', sep=' ', names=['direction','units'])
dl =neighbour_mapata.values.tol()