In [8]:
import pandas as pd
import numpy as np

In [53]:
data = pd.read_csv('input.txt',names=['depth'])
data['increased'] = np.nan
data.head()

   depth  increased
0    199        NaN
1    203        NaN
2    200        NaN
3    201        NaN
4    196        NaN

In [55]:
    for i in 0:len(data['depth']):
        if i == 0:
            data['increased'][i] = np.nan
        elif data['depth'][i] > data['depth'][i-1]:
            data['increased'][i] = "inc"
        else:
            data['increased'][i] = "dec"

SyntaxError: invalid syntax (<ipython-input-55-a5e004eb5dfa>, line 1)

In [57]:
range(0,len(data['depth']))

range(0, 2000)

In [60]:
x = range(3, 20, 2)
print(x)

range(3, 20, 2)

In [ ]:
data = pd.read_csv('input2.txt', sep=' ', names=['direction','units'])

In [68]:
data = pd.read_csv('input2.txt', sep=' ', names=['direction','units'])
dlist = data.values.tolist()

In [74]:
len(dlist[:][0])

2

In [75]:
len(dlist[0][:])

2

'down'